body{
	background-color: #000000;
}

h1{
	color: #00ff00;
	text-shadow:2px 2px #009900;
	font-family: arial;
}

h2{
	color: #ff00ff;
	text-shadow:2px 2px #860086;
	font-family: arial;
}

h3{
	color: #ff5e00;
	text-shadow:2px 2px #8f3400;
	font-family: arial;
}

p{
	color: #ffffff;
	text-shadow:2px 2px #007200;
	font-family: arial;
}

a:visited{
	color: aqua;
}