body{
	background-color: #005500;
}

h1{
	color: #00ff00;
	font-family: impact;
	text-align: center;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

h2{
	color: #00ff00;
	font-family: impact;
	text-align: center;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

h3{
	color: #00ff00;
	font-family: arial;
	text-align: center;
}

p{
	color: #ffffff;
	font-family: arial;
	display: block;
  	text-align: center;
  	width: 60%;
    margin-left: auto;
    margin-right: auto;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

a:link{
	color: #00ff00;
    font-family: arial;
}

a:visited{
	color: #68ac68;
}

img {
	display: flex;
	margin-left: auto;
	margin-right: auto;
  }

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
  }

nav a:link{ 
    padding: 20px;
    
        background-color: #00ff00;
        color: rgb(0, 0, 0);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 10px;
    }
    
nav a:visited{
    background: #68ac68;
    color: #696969;
	
}
nav {
	padding: 20px;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 55%;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	color:#ffffff
  }
  
  td, th {
	border: 1px solid #00ff00;
	text-align: left;
	padding: 8px;
  }
  
